<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <div></div>
        </button>
        <a routerLink="/">Cocktails</a>
        <a routerLink="/myCocktail">My Cocktails</a>
        <a routerLink="/new-cocktail">Add new cocktail</a>
      </div>
      <nav *appHasRoles="['user', 'admin'] else anonMenu">

        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <img [src]="api + '/uploads/' + ( user | async )?.avatar" style="border-radius: 50%; width: 35px; height: 35px; margin-top: 10px" [alt]="'Avatar' + ( user |  async )?.displayName">
        </button>
        <mat-menu #menu=matMenu>
          <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
          <button mat-menu-item>Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #anonMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>

