<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Cocktail</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else cocktailsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
      <h1>Cocktail name: {{ thisCocktail.title }}</h1>
      <mat-card >
        <div *appHasRoles="['admin']" >
          <button (click)="onPublish(thisCocktail._id)" type="button" color="warn" mat-raised-button>
            {{ (thisCocktail.isPublished === false) ? 'Published': '' }}
          </button>
          <button type="button" color="primary" mat-raised-button>
            {{ (thisCocktail.isPublished === false) ? 'Not published': '' }}
          </button>
        </div>
        <img class="image"
             *ngIf="thisCocktail.image"
             [src]="'http://localhost:8000' + thisCocktail.image! | image"
             [alt]="'Photo of' + thisCocktail.image "
             mat-card-image
        />
        <mat-card-content>
          <h2>Recipe: <strong>{{ thisCocktail.recipe  }}</strong></h2>
          <div *ngFor="let c of thisCocktail.ingredients">

            <h4>Name of ingredients: {{ c.name  }}</h4>
            <h4>Amount of ingredients: {{ c.amount  }}</h4>
          </div>
        </mat-card-content>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="onDelete(thisCocktail._id)"
            *appHasRoles="['admin']"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>





