<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>My cocktails</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else cocktailsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let cocktail of myCocktails | async">
      <h1>Cocktail name: {{ cocktail.cocktail.title }}</h1>
      <mat-card >
        <img
          [src]="cocktail.cocktail.image | image"
          [alt]="'Photo of' + cocktail.cocktail.image"
          mat-card-image
        />
      </mat-card>
    </div>
  </div>
</ng-template>



