<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Cocktails</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else cocktailsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let cocktail of cocktails | async">
      <h1>Cocktail name: {{ cocktail.title }}</h1>
      <mat-card >
        <img
          [src]="cocktail.image | image"
          [alt]="'Photo of' + cocktail.image"
          mat-card-image
        />
        <a mat-button [routerLink]="['/cocktail', cocktail._id]">
          VIEW
        </a>
        <button  mat-button (click)="addTrack(cocktail._id)">
          Add of my cocktails
        </button>
      </mat-card>
    </div>
  </div>
</ng-template>


