<h1>ADD NEW COCKTAIL:</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput formControlName="title" id="title"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Recipe</mat-label>
        <input name="recipe" required matInput formControlName="recipe" id="recipe"/>
      </mat-form-field>
      <div class="group" formArrayName="ingredients">
        <button type="button" mat-raised-button (click)="addStep()">Add ingredients</button>

        <div *ngFor="let c of getIngredients(); let i = index">
          <div [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Name of ingredients</mat-label>
              <input name="name" required matInput formControlName="name" id="name"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Amount of ingredients</mat-label>
              <input name="amount" required matInput formControlName="amount" id="amount"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" formControlName="image" id="image"></app-file-input>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>



